# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compuled Executable files
*.out

# Temperary files
*~

# Data files
/release/data/*

!/release/data/faces
/release/data/faces/*
!/release/data/faces/Bill.Gates/

!/release/data/protraits
/release/data/protraits/*
!/release/data/protraits/Bill.Gates/

# Build files
/build/
!/build/CMakeLists.txt.template

